<!DOCTYPE html>
<html>
  <head>
    <title><%= productName %></title>

    <meta charset="utf-8">
    <meta name="description" content="<%= productDescription %>">
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width<% if (ctx.mode.cordova || ctx.mode.capacitor) { %>, viewport-fit=cover<% } %>">

    <link rel="icon" type="image/ico" href="favicon.ico">

    <!-- <script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> -->
    
    
  </head>
  <!-- https://search.google.com/test/rich-results -->
  <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "Game",
        "mainEntityOfPage": {
          "@type": "WebPage",
          "@id": "https://spaceriders.io/"
        },
        "headline": "Real time strategy game set in space where you can earn money",
        "image": "https://yoast.com/wordpress_seo_definitive_guide.png",
        "publisher": {
            "@type": "Organization",
            "name": "SpaceRiders",
            "logo": {
              "@type": "ImageObject",
              "url": "https://yoast.com/yoast_logo.png"
            }
        }
  }
 </script>
  <body>
    <!-- DO NOT touch the following DIV -->
    <div id="q-app"></div>
  </body>
</html>
